extends layout

block content
	div.container.full
		#sidebar.col-lg-3.col-md-3.col-sm-4.sidebar-offcanvas.bg-primary(role="navigation")
			div.page-header
				h1="JBOCD"
				p="Drives together"
			include menu
		div.col-lg-9.col-md-9.col-sm-8
			div.container-fluid
				br
				div.jumbotron
					h1="JBOCD"
					p="Drives together"